*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Work Sans", sans-serif;
  color: black;
  overflow-x: hidden;
}

.menu-photo {
  background-image: url("https://i.postimg.cc/G282KmvY/andyone-WW8j-Bak7bo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1000px;
  padding: 80px 20px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    padding: 40px 80px;
  }
}

.navigation {
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 12px 0;
}

.navigation ul {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin: 0 36px 0 0;
}

@media (max-width: 767px) {
  .navigation ul li {
    margin: 0 5px 0 0;
  }
}

.navigation ul li a {
  text-shadow: 0.05em 0 rgba(0, 0, 0, 0.3), 0 0.05em rgba(0, 0, 0, 0.3), -0.05em 0 rgba(0, 0, 0, 0.3), 0 -0.05em rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

.navigation .navigation-brand {
  font-size: 24px;
  color: #f6b93b;
  text-decoration: none;
  text-shadow: 0.05em 0 rgba(0, 0, 0, 0.3), 0 0.05em rgba(0, 0, 0, 0.3), -0.05em 0 rgba(0, 0, 0, 0.3), 0 -0.05em rgba(0, 0, 0, 0.3);
}

.splash {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 500px;
  padding: 30px 0;
  color: white;
}

@media (max-width: 767px) {
  .splash {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash .splash-inner .page-title, .splash .splash-inner .page-subtitle {
  text-shadow: 0.05em 0 rgba(0, 0, 0, 0.3), 0 0.05em rgba(0, 0, 0, 0.3), -0.05em 0 rgba(0, 0, 0, 0.3), 0 -0.05em rgba(0, 0, 0, 0.3);
}

.splash .splash-inner .page-title {
  margin: 0;
  font-size: 50px;
  word-spacing: -8px;
  font-weight: 700;
  line-height: 1.2;
}

.splash .splash-inner .page-subtitle {
  margin: 24px 0;
  font-weight: 800;
  font-size: 60px;
}

.splash .splash-inner .btn-one {
  padding: 10px 15px;
  display: inline-block;
  min-width: 160px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  color: white;
  background-color: #f6b93b;
}

.container p {
  color: #7f8fa6;
  font-weight: 300;
  font-style: italic;
}

.container .content-subdescription {
  text-align: center;
  margin-bottom: 20px;
}

.container .content-description {
  font-size: 36px;
  text-align: center;
}

.container .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 767px) {
  .container .content {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.container .content .inner-content {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  padding: 0 12px;
}

@media (max-width: 767px) {
  .container .content .inner-content {
    margin-top: 40px;
  }
}

.container .content .inner-content h4 {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.more-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 767px) {
  .more-content {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
}

.footer .footer-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.footer .copyright {
  position: absolute;
  left: 0;
}

@media (max-width: 680px) {
  .footer .copyright {
    position: static;
    min-width: 150px;
  }
}

.footer .share-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style-type: none;
  padding: 0;
}

.footer .share-icon {
  margin: 0 5px;
  border-radius: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 60px;
  height: 60px;
  background-color: black;
  text-decoration: none;
  color: white;
}

.footer .share-icon i {
  font-size: 30px;
}

.footer .share-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.portfolio-section {
  background: #dcdde1;
}

.card {
  width: 300px;
  height: auto;
  background-color: white;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 7px 5px 6px rgba(0, 0, 0, 0.05);
}

.card-head {
  height: 400px;
  overflow: hidden;
}

.card-head img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-head img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.card-body {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.card-body h4, .card-body p {
  margin: 5px 0;
}
/*# sourceMappingURL=styles.css.map */