$squash-blossom: #f6b93b;
$blueberry-soda: #7f8fa6;
$hint-of-pensive: #dcdde1;

@mixin flexed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    background-image: url("https://i.postimg.cc/3Nf741Qj/artificial-flowers-desk-figurines-196658.jpg");
}
 /*NIE MOŻNA TU POŁĄCZYĆ???*/
.navigation {
    padding: 12px 0;
    color: white; 

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        li {
            display: inline-block;
            margin: 0 36px 0 0;
            @media (max-width: 767px) {
                margin: 0 5px 0 0;
            }

            a {
                text-decoration: none;
                color: white;

                }
            }
        }
}

.splash {
    @include flexed;
    min-height: 500px;
    padding: 30px 0;
    color: white;
    
    .splash-inner {
        margin: auto;
        max-width: 70%;

        .page-title { 
            margin: 0;
            font-size: 50px;
            word-spacing: -8px;
            font-weight: 700;
            line-height: 1.2;
        }

        .page-subtitle {
            margin: 24px 0;
            font-weight: 800;
            font-size: 60px;
        }
    }
}
.container {
    p {
        color: $blueberry-soda;
        font-weight: 300;
        font-style: italic;
    }
    .content-description h3 {
        font-size: 48px;
        margin: 0 0 72px 0;
    }

    .content {
        @include flexed;
        
        .inner-content {
            flex: 0 0 33.333%;
            padding: 0 12px;

            @media (max-width: 767px) {
                margin-top: 40px;
            }

            h4 {
                font-size: 24px;
                margin: 0 0 12px 0;
            }
        }
    }   
}

.more-content {
    @include flexed;
    background: $hint-of-pensive;

    .inner-more-content {
        flex: 0 0 33,333%;
        @include flexed;
        align-items: center;

            img {
                object-fit: cover;
            }
        }

        .description {
            padding: 0 40px;

            h4 {
                font-size: 24px;
            }

            p {
                font-weight: 300;
                font-style: italic;
            }
        }
    }

.footer {
        display: flex;
        justify-content:center;
/*??*/
    .share-icons {
        display: flex;
        justify-content: center;
    }
        
        .share-icon {
            margin: 0 5px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: black;
            text-decoration: none;
            color: white;
    
            i {
                font-size: 30px;
            }
    
            &:hover {
                transform: scale(1.2);
                transition: all 0.3s;
            }
        }
    }

