$squash-blossom: #f6b93b;
$blueberry-soda: #7f8fa6;
$hint-of-pensive: #dcdde1;

@mixin flexed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@mixin shadowed {
  $text-shadow: rgba(0,0,0,0.3);

  text-shadow:
    0.05em 0 $text-shadow,
    0 0.05em $text-shadow,
    -0.05em 0 $text-shadow,
    0 -0.05em $text-shadow;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Work Sans", sans-serif;
  color: black;
  overflow-x: hidden;
}

.menu-photo {
  background-image: url("https://i.postimg.cc/G282KmvY/andyone-WW8j-Bak7bo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1000px;
  padding: 80px 20px;
  margin: 0 auto;

  @media (max-width: 1000px) {
    padding: 40px 80px;
  }
}

.navigation {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 36px 0 0;
      @media (max-width: 767px) {
        margin: 0 5px 0 0;
      }

      a {
        @include shadowed;
        text-decoration: none;
        color: white;
      }
    }
  }
  .navigation-brand {
    font-size: 24px;
    color: $squash-blossom;
    text-decoration: none;
    @include shadowed;
  }
}

.splash {
  @include flexed;
  min-height: 500px;
  padding: 30px 0;
  color: white;

  .splash-inner {
    margin: auto;
    max-width: 70%;

    .page-title, .page-subtitle {
      @include shadowed;
    }

    .page-title {
      margin: 0;
      font-size: 50px;
      word-spacing: -8px;
      font-weight: 700;
      line-height: 1.2;
    }

    .page-subtitle {
      margin: 24px 0;
      font-weight: 800;
      font-size: 60px;
    }
    .btn-one {
      padding: 10px 15px;
      display: inline-block;
      min-width: 160px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      border-radius: 5px;
      border-width: 2px;
      border-style: solid;
      cursor: pointer;
      color: white;
      background-color: $squash-blossom;
    }
  }
}

.container {
  p {
    color: $blueberry-soda;
    font-weight: 300;
    font-style: italic;
  }

  .content-subdescription {
    text-align: center;
    margin-bottom: 20px;
  }

  .content-description {
    font-size: 36px;
    text-align: center;
  }

  .content {
    @include flexed;

    .inner-content {
      flex: 0 0 33.333%;
      padding: 0 12px;

      @media (max-width: 767px) {
        margin-top: 40px;
      }

      h4 {
        font-size: 24px;
        margin: 0 0 12px 0;
      }
    }
  }
}

.more-content {
  @include flexed;
}

.footer {
  .footer-content { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap-reverse;
  }
  
  .copyright {
    position: absolute;
    left: 0; 
    @media (max-width: 680px) {
      position: static;
      min-width: 150px;
    }
  }

  .share-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  .share-icon {
    margin: 0 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: black;
    text-decoration: none;
    color: white;

    i {
      font-size: 30px;
    }

    &:hover {
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }
}

.portfolio-section {
  background: $hint-of-pensive;
}

.card { 
  width: 300px;
  height: auto;
  background-color: white;
  margin: 20px 0; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 7px 5px 6px rgba(0,0,0,0.05);

  &-head {
    height: 400px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      &:hover {
        transform: scale(1.2);
        transition: all 0.3s;
      }
    }
  }

  &-body {
    height: 100px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4, p {
      margin: 5px 0;
    }
  }
}